<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>

	<!-- CONEXION BD -->
	<connectionStrings>
		<add name="conString" connectionString="Server=DESKTOP-QTDUMVH\SQLEXPRESS;Database=Tarea;Integrated Security=True"/>
	</connectionStrings>

	<!-- Servicio web -->
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="WSTareasSoap">
					<security mode="None">
					<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:56417/WSTareas.asmx" binding="basicHttpBinding"
			 bindingConfiguration="WSTareasSoap" contract="WSTareas.WSTareasSoap"
			 name="WSTareasSoap" />
		</client>
		<behaviors>
			<serviceBehaviors>
				<behavior name="AuthenticationServiceTypeBehaviors">
					<serviceMetadata httpsGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment
		  aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
</configuration>
